<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group16.example.edures">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Sign In" />
        <activity android:name=".FunctionActivity" />
        <activity
            android:name=".Notes_activity"
            android:label="Class Notes"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".Question_activity"
            android:label="Question Papers"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".Signup"
            android:label="Sign Up" />
        <activity
            android:name=".QueryActivity"
            android:label="Queries"
            android:parentActivityName=".FunctionActivity" />

    </application>

</manifest>